@model Cart

<div class="">
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x=>x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }
<div class="navbar" style="float: right">
    <a class="btn btn-sm btn-secondary" asp-page="/Cart"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>
</div>
